Source: prayer-templates-prisonpc
Section: mail
Priority: optional
Maintainer: Mike Fabre <mikef@cyber.com.au>
Uploaders:
 Trent W. Buck <twb@cyber.com.au>,
 Trent W. Buck <trentbuck@gmail.com>
Build-Depends:
 debhelper (>= 10),
 prayer-templates-dev
Standards-Version: 3.9.6

Package: prayer-templates-prisonpc
Architecture: any
Depends:
 ${misc:Depends},
 ${shlibs:Depends},
 prayer
Enhances: prayer
Description: PrisonPC prayer theme
 Prayer is yet another Webmail interface.
 .
 This package contains a PrisonPC-branded theme for Prayer.
