Source: prayer-templates-ppc
Section: mail
Priority: extra
Maintainer: Mike Fabre <mikef@cyber.com.au>
Uploaders:
 Trent W. Buck <twb@cyber.com.au>,
 Trent W. Buck <trentbuck@gmail.com>
Build-Depends: debhelper (>= 7), prayer-templates-dev
Standards-Version: 3.9.4

Package: prayer-templates-ppc
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Recommends: prayer
Description: PrisonPC prayer template
 This is the PrisonPC branded theme for the Prayer webmail interface
