/* $Cambridge: hermes/src/prayer/files/static/links.css,v 1.2 2008/09/16 09:59:56 dpc22 Exp $ */
/* 
Optional stylesheet
~~~~~~~~~~~~~~~~~~~~-
This is the css file for adding link icons, should you wish to use them. To use, add the following to the list of rules at the top of the layout.css file

@import "links.css";
*/




/* =LINKS	
-------------------------------------------------------------- */	

a.icon-more {
	background: url(/icons/icon-more.gif) no-repeat 0 0;
	padding: 0 0 2px 2em;
}

a.icon-look {
	background: url(/icons/icon-look.gif) no-repeat 0 0;
	padding: 0 0 2px 2em;
}

a.icon-follow {
	background: url(/icons/icon-follow.gif) no-repeat 0 0;
	padding: 0 0 2px 2em;
}

a.icon-top {
	background: url(/icons/icon-top.gif) no-repeat 0 0;
	padding: 0 0 2px 2em;
}

a.icon-rss {
	background: url(/icons/icon-rss.gif) no-repeat 0 0;
	padding: 0 0 2px 2em;
}

a.icon-audio {
	background: url(/icons/icon-audio.gif) no-repeat 0 0;
	padding: 0 0 2px 2em;
}

a.icon-photo {
	background: url(/icons/icon-photo.gif) no-repeat 0 0;
	padding: 0 0 2px 2em;
}

a.icon-video {
	background: url(/icons/icon-video.gif) no-repeat 0 0;
	padding: 0 0 2px 2em;
}

a.icon-community {
	background: url(/icons/icon-community.gif) no-repeat 0 0;
	padding: 0 0 2px 2em;
}

a.icon-restricted {
	background: url(/icons/icon-restricted.gif) no-repeat 0 0;
	padding: 0 0 2px 2em;
}

a.icon-help {
	background: url(/icons/icon-help.gif) no-repeat 0 0;
	padding: 0 0 2px 2em;
}

a.icon-email {
	background: url(/icons/icon-email.gif) no-repeat 0 0;
	padding: 0 0 2px 2em;
}

a.icon-quick-links {
	background: url(/icons/icon-quick-links.gif) no-repeat 0 0;
	padding: 0 0 2px 2em;
}

a.icon-media {
	background: url(/icons/icon-media.gif) no-repeat 0 0;
	padding: 0 0 2px 2em;
}

a.icon-down {
	background: url(/icons/icon-down.gif) no-repeat 0 0;
	padding: 0 0 2px 2em;
}

a.icon-external {
	background: url(/icons/icon-external.gif) no-repeat 0 0;
	padding: 0 0 2px 2em;
}

a.icon-section {
	background: url(/icons/icon-section.gif) no-repeat 0 0;
	padding: 0 0 2px 2em;
}

a.icon-pdf {
	background: url(/icons/icon-pdf.gif) no-repeat 0 0;
	padding: 0 0 2px 2em;
}

a.icon-word {
	background: url(/icons/icon-word.gif) no-repeat 0 0;
	padding: 0 0 2px 2em;
}

a.icon-excel {
	background: url(/icons/icon-excel.gif) no-repeat 0 0;
	padding: 0 0 2px 2em;
}
