/* $Cambridge: hermes/src/prayer/files/static/print.css,v 1.5 2008/10/02 14:03:33 dpc22 Exp $ */
/* -------------------------------------------------------------- 
  
   CSS Framework
   Web Design & Development by Studio 24 Ltd
   www.studio24.net - (0870) 241 6159
   
   * Print Styles *
      
   This is the print CSS-file for the webmail pages.
   Include this in the <head> of every page.
   
-------------------------------------------------------------- */

/* Hide unwanted elements */

div#skip,
ul#site-tools,
div#site-search,
ul#nav-breadcrumb,
div#banner,
dl.news img,
ul#nav-tabbed, 
a#bookmarks,
ul#site-info li.link, 
div#site-info li.last,
div#change-to,
table.banner
{
	display: none;
}

body {
	font-family: Arial, Helvetica, sans-serif;
	background: #fff;
	padding:0;
}

div#header, div#container {
	overflow: visible;
	float: none;
	width:auto;
	border:none;
	margin:0;
        padding:0;
}

div#content, div#content-primary, div#content-primary pre {
	overflow: visible; float: none;
}

div#header div#branding {
	padding: 0;
}
div#header div#branding img {
	padding-left: 0;
	padding-bottom: 0;
}

table.altrows td, table.altrows td td  {
	font-size: 1em;
}

body.home #content-primary {
	width: 60%;
	padding-right: 1em;
}

body.home #content-secondary {
	width:35%;
}


body.two-col ul#nav-primary, body.three-col ul#nav-primary {
	display: none;
}
body.two-col div#content, body.three-col div#content {
	width: 100%;
}
p, ul, ol, dl, table, blockquote, pre, code, select, input  {
	line-height: 1.5em;
}

select, input  {
	font-size: 0.8em;
}
div#header div#branding {
	padding: 0 0 0 18px;
}

}

p.section {
	font-size: 1.5em;
	font-weight: normal;
	margin-top: 0;
}


div#header img {
	border: none;
	position: relative;
	left: -20px;
}

div#content img {
	float: right;
	margin-left: 3em;
	margin-bottom: 3em;
}

div.alert {
	padding: 18px 0 0 52px;
	margin: 1em 0 1em 0;
}

div.alert h2 {
	font-size: 1.25em;
	margin-bottom: 1em;
	line-height: 0;
	font-weight: bold;
	padding: 0;
}

div.warning {
	border: 1px solid red;
	background: #FFCCCC url(/icons/icon-alert-warning.gif) no-repeat 10px 13px;
}

div.normal {
    border: 1px solid #ffcc66;
	background: #ffffcc url(/icons/icon-alert-normal.gif) no-repeat 10px 13px;
}

dl {
	margin: 0 0 1em 2em;
}

body.home dl {
	margin-left: 0;
}

dl.news, dl.media {
	line-height: 1em;
}

dl.links {
/*
	border-top: 1px solid #d3d3b1;
*/
	margin: 2em 0 0 0;
	padding: 1em 0 0 0;
}


dt {
	font-weight: bold;
}

dd {
	margin: 0 0 0.5em 0;
	padding: 0;
}

ul li.link {
	list-style-type: none;
	background: url(/icons/icon-arrow-nav-primary.gif) no-repeat 0 50%;
	padding-left: 1.5em;
	position: relative;
	left: -1.5em;
}


blockquote  { 
	border:1px solid #ddd;
	font-style: italic;
	margin: 0 0 1em 0; 
	padding: 1em;
}


